@model Movie.Models.Customer
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<ul>
    <li>
        Membership type: @Model.MembershipType.Name
    </li>
    @if (Model.Birthdate != null)
    {
        <li>
            Birthdate: @Model.Birthdate.Value.ToShortDateString()
        </li>
    }
</ul>
